body, button, input, select, textarea {
    font-family: Poppins, sans-serif;
}

body {
    background-image: url('/images/FlowField.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(5px);
    margin: 0;
    padding: 20px;
}

h1 {
    color: white;
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
}
.description {
    color: white;
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
}

#button-container {
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.redirect-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ececec;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

#co-op-button {
    color: #3c90c0;
    border: #3c90c0 5px solid;
}

#robotrack-button {
    color: #e06969;
    border: #e06969 5px solid;
}

#robominer-button {
    color: #e06969;
    border: #e06969 5px solid;
}

#spotify-button {
    color: #36bb65;
    border: #36bb65 5px solid;
}

#instagram-button {
    color: #db3d8c;
    border: #db3d8c 5px solid;
}

#scratch-button {
    color: #ff9900;
    border: #ff9900 5px solid;
}

#shadertoy-button {
    color: #7484e0;
    border: #7484e0 5px solid;
}

#drawings-button {
    color: #9b6cd1;
    border: #9b6cd1 5px solid;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
    color: #4d4d4d;
}
